<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.txl.ext_glide_test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SVGAPlayerAndroid">
        <activity
            android:name=".ui.NormalGlideLoadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChangeRepeatCountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ReplaceResourceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChangeScaleTypeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoadNetSvgaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoadAssetSvgaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SvgaDemoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AddListenerActivity" />
        <activity android:name=".ui.ChangeRepeatModeActivity" />
        <activity android:name=".ui.LoadAudioSvgaActivity" />
        <activity android:name=".ui.LoadSvgaCompareMemoryActivity" />
    </application>

</manifest>